/target/debug
/target/release
/target/CACHEDIR.TAG
/target/wasm32-unknown-unknown/CACHEDIR.TAG
/target/wasm32-unknown-unknown/release/*
/target/.rustc_info.json

!/target/wasm32-unknown-unknown/release/hexstack.wasm